* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*
    Color Palletes:
    #06142e || #1b3358 || #473e66 || #bd83b8 || #f5d7db || #f1916d
*/

body {
}

/*Whole Container*/
.whole-container {
    display: flex;
    justify-content: space-between;
}

/*Aside Content Left 15% Width*/
.aside-left-20 {
    background-color: #06142e;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.left-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Adding Design in Button*/
.left-btn-design {
    width: 150%;
    height: 50px;
    background-color: transparent;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #f1916d;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
/*Hover Designs*/
#btn_home:hover {
    background-color: #1b3358;
}

#btn_student:hover {
    background-color: #473e66;
}

#btn_timelog:hover {
    background-color: #bd83b8;
}

#btn_graph:hover {
    background-color: #f1916d;
}

#btn_logout:hover {
    background-color: #ff0000;
}


/*Main Content 60% Width*/
.main-50 {
    width: 60%;
    background-color: #1b3358;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Lbl_current_time {
    color: #f1916d;
    font-family: 'Bebas Neue';
    font-size: 50px;
}

#Lbl_current_date {
    color: #bd83b8;
    font-family: 'Bebas Neue';
    font-size: 20px;
}

.timedate-container {
    text-align: center;
    margin-bottom: 20px; /* Add margin at the bottom for spacing */
}

.nav-status-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_design {
    font-family: 'Bebas Neue';
    font-size: 20px;
    color: #f1916d;
}

.admin-library_status,
.admin-login_status,
.admin-register-status {
    display: flex;
    align-items: center;
    margin-right: 50px; /* Add margin to separate the items */
}

.admin-library_status,
.admin-login_status {
    margin-bottom: 10px; /* Add margin at the bottom for spacing */
}

    .admin-library_status label,
    .admin-login_status label,
    .admin-register-status label {
        margin-left: 5px; /* Add margin to separate the icon and label */
    }

    .admin-library_status img,
    .admin-login_status img,
    .admin-register-status img {
        height: 30px;
        width: 30px;
        margin-right: 5px; /* Add margin to separate the image and label */
    }

/*Aside Right 30% width*/
.aside-right-30 {
    width: 25%;
    background-color: #e0e0e0;
    padding: 10px;
}
