/*Color Pallete: #06142e || #1b3358 || #473e66 || #bd83b8 || #f5d7db || #f1916d */

* {
    margin: 0;
    padding: 0;
    
}

/* Define the styles for the layout */
.whole-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Aside Left */
.aside-left-15 {
    height: 635px;
    flex-basis: 15%;
    background-color: #06142e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Logo Image */
.logo-img {
    margin-bottom: auto;
}

#btn_logout {
    border-bottom: 0px solid #f1916d;
    margin-top: 200px;
}

/* Button Design */
.button-design {
    width: 100%;
    background-color: transparent;
    color: #f1916d;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #f1916d;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}

#btn_home {
    background-color: #1b3358;
}

    #btn_home:hover {
        background-color: #1b3358;
    }

#btn_register:hover {
    background-color: #473e66;
}

#btn_timelog:hover {
    background-color: #bd83b8;
}

#btn_graph:hover {
    background-color: #f5d7db;
}

#btn_logout:hover {
    background-color: #ff0000;
    color: #ffffff;
}


.main-60 {
    height: 635px;
    flex-basis: 60%;
    background-color: #1b3358;
}

.inside-main-layout {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.inside-header {
    flex-basis: 100%;
}

.library-status {
    display: flex;
    align-items: center;
    justify-content: left;
}

    .library-status #img_icon_library,
    .library-status #Lbl_library_status {
        vertical-align: middle;
    }

.time-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.digital-clock, .date {
    text-align: center;
}

.inside-aside-left-50 {
    flex-basis: 60%;
    height: 250px;
}


.srch-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

    .srch-container #Txb_search_id,
    .srch-container #Img_browse_id {
        vertical-align: middle;
    }

#Txb_search_id {
    background-color: #473e66;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

.inside-aside-right-50 {
    margin-top: 10px;
    flex-basis: 40%;
    height: 220px;
}

.std-timelog-display {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .std-timelog-display #Image6,
    .std-timelog-display #Lbl_std_timelog {
        vertical-align: middle;
    }


.inside-footer {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.inside-footer-left-50 {
    flex-basis: 50%;
    height: 230px;
}

.registered-design {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .registered-design #Image7,
    .registered-design #Lbl_num_registered {
        vertical-align: middle;
    }

.inside-footer-right-50 {
    flex-basis: 50%;
    height: 230px;
}

.timelog-design {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .timelog-design #Image8,
    .timelog-design #Lbl_num_timelog {
        vertical-align: middle;
    }


.time-date {
    width: 100%;
}

#Lbl_library_status {
    color: #ff0000;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

#Lbl_current_time {
    color: #bd83b8;
    font-size: 60px;
    font-family: 'Bebas Neue';
}

#Lbl_current_date {
    color: #473e66;
    font-size: 30px;
    font-family: 'Bebas Neue';
}

.srch-student-con {
    width: 100%;
}

.std-dsply-design {
    color: #f5d7db;
    font-size: 20px;
    font-family: 'Bebas Neue';
}

.aside-right-25 {
    height: 635px;
    flex-basis: 25%;
    background-color: #06142e;
}

.view-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 270px;
}

.view-img-login,
.view-id-login,
.view-status-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-img-logout,
.view-id_logout,
.view-status-logout {
    display: flex;
    align-items: center;
    justify-content: center;
}


.view-logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 270px;
}

.contact-dev {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 95px;
}

    .contact-dev #Img_btn_call,
    .contact-dev #Img_btn_fb,
    .contact-dev #Img_btn_git {
        display: block;
        margin: auto;
    }

.footer-5 {
    padding: 5px;
    flex-basis: 100%;
    background-color: #f1916d;
    text-align: center;
    color: #ffffff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .aside-left-15,
    .main-60,
    .aside-right-25 {
        height: auto;
        flex-basis: 100%;
    }
}
